<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key><string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDocumentTypes</key>
	<array><dict>
		<key>CFBundleTypeName</key><string>Thailand Trip Archive</string>
		<key>CFBundleTypeRole</key><string>Editor</string>
		<key>LSHandlerRank</key><string>Owner</string>
		<key>LSItemContentTypes</key><array><string>nl.martijnkooi.ThailandHolidayApp.triparchive</string></array>
	</dict></array>
	<key>UTExportedTypeDeclarations</key>
	<array><dict>
		<key>UTTypeConformsTo</key><array><string>com.apple.package</string></array>
		<key>UTTypeDescription</key><string>Thailand Trip Archive</string>
		<key>UTTypeIdentifier</key><string>nl.martijnkooi.ThailandHolidayApp.triparchive</string>
		<key>UTTypeTagSpecification</key><dict>
			<key>public.filename-extension</key><array><string>triparchive</string></array>
			<key>public.mime-type</key><string>application/vnd.thailandholidayapp.triparchive</string>
		</dict>
	</dict></array>
	<key>LSSupportsOpeningDocumentsInPlace</key><true/>
	<key>BRAVE_SEARCH_API_KEY</key><string>$(BRAVE_SEARCH_API_KEY)</string>
	<key>GOOGLE_PLACES_API_KEY</key><string>$(GOOGLE_PLACES_API_KEY)</string>
	<key>UNSPLASH_ACCESS_KEY</key><string>$(UNSPLASH_ACCESS_KEY)</string>
	<key>NSCameraUsageDescription</key><string>Camera wordt gebruikt om boekingen te scannen.</string>
	<key>UIApplicationSceneManifest</key><dict><key>UIApplicationSupportsMultipleScenes</key><false/></dict>
	<key>UIApplicationSupportsIndirectInputEvents</key><true/>
	<key>UILaunchScreen</key><dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
